<div class="row">
  <article class="calc">
    <span class="screen input-xlarge uneditable-input">Input something...</span>
    <div>
      <button class="btn" type="button">1</button>
      <button class="btn" type="button">2</button>
      <button class="btn" type="button">3</button>
      <button class="btn btn-primary" type="button">/</button>
    </div>
    <div>
      <button class="btn" type="button">4</button>
      <button class="btn" type="button">5</button>
      <button class="btn" type="button">6</button>
      <button class="btn btn-primary" type="button">*</button>
    </div>
    <div>
      <button class="btn" type="button">7</button>
      <button class="btn" type="button">8</button>
      <button class="btn" type="button">9</button>
      <button class="btn btn-primary" type="button">-</button>
    </div>
    <div>
      <button class="btn" type="button">0</button>
      <button class="btn" type="button">.</button>
      <button class="btn" type="button">=</button>
      <button class="btn btn-primary" type="button">+</button>
    </div>
  </article>
</div>
