<div class="row">
  <article class="calc">
    <span class="screen input-xlarge uneditable-input text-right">0</span>
    <div>
      <button class="btn digit" type="button">1</button>
      <button class="btn digit" type="button">2</button>
      <button class="btn digit" type="button">3</button>
      <button class="btn divide btn-primary" type="button">/</button>
    </div>
    <div>
      <button class="btn digit" type="button">4</button>
      <button class="btn digit" type="button">5</button>
      <button class="btn digit" type="button">6</button>
      <button class="btn multiply btn-primary" type="button">*</button>
    </div>
    <div>
      <button class="btn digit" type="button">7</button>
      <button class="btn digit" type="button">8</button>
      <button class="btn digit" type="button">9</button>
      <button class="btn minus btn-primary" type="button">-</button>
    </div>
    <div>
      <button class="btn digit" type="button">0</button>
      <button class="btn dot" type="button">.</button>
      <button class="btn equal" type="button">=</button>
      <button class="btn plus btn-primary" type="button">+</button>
    </div>
  </article>
</div>
